<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>New Student Form</title>
    </head>
    <body>
        <h1>New Student Form</h1>
        <form action="" method="post">
            First Name: <input type="text" name="student_first_name" /><br />
            Last Name: <input type="text" name="student_last_name" /><br />
            Date of Birth:
            <input
                type="date"
                name="student_date_of_birth"
                min="1996-01-01"
                max="2002-01-01"
            /><br />
            Tutition Fees:
            <select name="student_tutition_fee">
                <br />
                <option value="Full time:3000€">Full time:3000€</option>
                <option value="Part time:2500€">Part time:2500€</option>
                <option value="Online:2000€">Online:2000€</option>
            </select>
            <br />
            <input type="submit" value="Add new Student" />
        </form>
        <div id="message"><%= message %></div>
    </body>
</html>
