body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-image: url('../images/orange_paper.gif');
}

a {
    color: #00b7ff;
}

table {
    width: 100%;
    border: 5px solid green;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}

table td,
table th {
    border: 5px solid grey;
    padding: 5px;
}

th {
    border: 5px solid grey;
    background-color: teal;
    font-size: x-large;
}

a {
    color: black;
}
tr:nth-child(odd) {
    background-color: tomato;
}
tr:nth-child(even) {
    background-color: green;
}

tr:hover:nth-child(odd) {
    background-color: black;
    color: white;
    transition: 1.5s;
}

tr:hover:nth-child(odd) a {
    color: white;
    transition: 1.5s;
}

tr:hover:nth-child(even) {
    color: red;
    background-color: blue;
    transition: 1.5s;
}

tr:hover:nth-child(even) a {
    color: red;
    transition: 1.5s;
}

tr:not(:hover):nth-child(odd) {
    transition: 1.5s;
}

tr:not(:hover):nth-child(even) {
    transition: 1.5s;
}

button {
    width: 22%;
    height: 100px;
    border: 10px solid yellow;
    background-color: red;
    text-align: center;
    color: white;
    margin: 10px auto;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    transition: 0.8s;
    background-color: blue;
    color: black;
}

button:not(:hover) {
    transition: 0.8s;
}
